---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CardNews from '../layouts/CardsHomeNews.astro';
import CardNerdosis from '../layouts/CardsHomeNerdosis.astro';
import CardTrends from '../layouts/CardsHomeTrends.astro';
import SliderPodcast from '../layouts/SliderPodcast.astro';
import Separator from '../components/Separator.astro';
import HomeHeader from '../layouts/HomeHeader.astro';
import DoubleBox from '../components/DoubleBox.astro';
import BoxBanner from '../components/BoxBanner.astro';
import LeaderBoard from'../components/LeaderBoard.astro';
import SuperLeader from '../components/SuperLeader.astro';
import BillBoard from '../components/BillBoard.astro';
import SliderPrincipal from '../layouts/SliderPrincipal.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import SliderPromociones from '../layouts/SliderPromociones.astro';
import CardsHomeNerdosis from '../layouts/CardsHomeNerdosis.astro';

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Home" description={SITE_DESCRIPTION} />		
	</head>
	<body>
	  <div class="md:flex min-h-screen bg-gray-100">
		<Header title={SITE_TITLE} />
		
		<div class="md:flex-1">
			<main id="home" >
					<header>
					</header>
							
					<section>
						<SliderPrincipal />
						<SuperLeader />	
						<div class="container-home p-4 mx-auto">
							<h1 class="audiowide neon-morado text-center md:text-left py-4 font-bold yellow-beat text-4xl md:text-5xl lg:text-4xl xl:text-5xl">News</h1>
							<div class="">
								<!--CardNews /-->
							</div>
						</div>
					</section>
					<section class="bg-black">
						<div class="container-home p-4 mx-auto">
							<div class="flex flex-wrap">
								<div class="w-full lg:w-2/3">
									<h1 class="audiowide neon-azul text-center md:text-left py-4 font-bold yellow-beat text-3xl md:text-5xl lg:text-4xl xl:text-5xl">Promociones</h1>
									<!--SliderPromociones /-->
								</div>
								<div class="w-full mt-8 lg:w-1/3 lg:m-0 content-center bg-zinc-700 rounded">
									<DoubleBox />
									<!--h1 class="py-4 text-center font-bold yellow-beat text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(86_85_83_/_64%)]">Beat Trends</h1>
									<CardTrends />
									<h1 class="py-4 text-center font-bold yellow-beat text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(86_85_83_/_64%)]">Nerdosis</h1>
									<CardNerdosis /-->
								</div>
							</div>
							<LeaderBoard />						
						</div>
					</section>
					<section>
						<div class="container-home p-4 mx-auto">
							<h1 class="audiowide neon-rosa text-center md:text-left py-4 font-bold yellow-beat text-4xl md:text-5xl lg:text-4xl xl:text-5xl">Nerdosis</h1>
							<div class="flex flex-wrap -mx-1 lg:-mx-4 container cards">
								<!--CardsHomeNerdosis /-->
							</div>
						</div>
					</section>
					<section class="bg-zinc-700">
						<div class="container-home p-4 mx-auto">
							<h1 class="audiowide neon-azul text-center md:text-left pt-4 font-bold yellow-beat text-4xl md:text-5xl lg:text-4xl xl:text-5xl">Podcast</h1>
						</div>
						<div class="w-full mx-auto">
							<!--SliderPodcast /-->
						</div>
					</section>
					<BillBoard />
			</main>	
			<Footer />
		</div>
	  </div>
	</body>
</html>
