---
---
<div class="billboard my-9 table mx-auto text-center">
   <img src="https://stereociendigital.mx/wp-content/uploads/2024/07/bilboard.jpg" alt="billboard" width="970" height="250">
   <!--div id="ad-slot3">
	<script defer is:inline>
	  var gptAdSlots3 = [];
	  googletag.cmd.push(function() {
 	    var mapping3 = googletag.sizeMapping().
	    addSize([970, 250]).
	    build();
	    var slot3 = googletag.defineSlot("/21799830913/Oye", [728, 90],'ad-slot3').
	    defineSizeMapping(mapping3).
	    addService(googletag.pubads());
	    googletag.pubads().setTargeting("test","responsive");
	    googletag.enableServices();
	    googletag.display('ad-slot3');
	    googletag.pubads().refresh([slot3]);
	    //setInterval(function(){googletag.pubads().refresh([slot3]);}, 180000);
	  });
	</script>
   </div-->

    <!--div>
		<ins class="adsbygoogle" style="display: block; height: 250px;" data-ad-client="ca-pub-7423640555477330" data-ad-slot="9474866547" data-ad-format="horizontal" data-full-width-responsive="true"></ins>
        <script defer is:inline>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div-->

</div>