---
---

<div class="double-box table mx-auto text-center">
  <img src="https://tpc.googlesyndication.com/simgad/2771897712811175811"/ alt="Double Box" width="300" height="600" />
  <!--div id="ad-slot5">
	<script defer is:inline>
	  var gptAdSlots5 = [];
	  googletag.cmd.push(function() {
		var mapping5 = googletag.sizeMapping().
		addSize([300, 600]).
		build();
		 var slot5 = googletag.defineSlot("/21799830913/Oye", [300, 600],'ad-slot5').
		 defineSizeMapping(mapping5).
		 addService(googletag.pubads());
		 googletag.pubads().setTargeting("test","responsive");
		 googletag.enableServices();
		 googletag.display('ad-slot5');
		 googletag.pubads().refresh([slot5]);
		 //setInterval(function(){googletag.pubads().refresh([slot5]);}, 30000);
	  });
	</script>
  </div-->
  <!--div>
    <ins class="adsbygoogle" style="display:block; height:600px;" data-ad-client="ca-pub-7423640555477330" data-ad-slot="6545539508" data-ad-format="vertical" data-full-width-responsive="true"></ins>
    <script defer is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div-->
</div>
<br>