---
import Player from './Player.astro';
import { Image } from 'astro:assets';
---

<div><Player transition:persist /></div>

<div class="preloader">
    <!--div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div-->
	<div class="loader">
		<ul class="hexagon-container">
		  <li class="hexagon hex_1"></li>
		  <li class="hexagon hex_2"></li>
		  <li class="hexagon hex_3"></li>
		  <li class="hexagon hex_4"></li>
		  <li class="hexagon hex_5"></li>
		  <li class="hexagon hex_6"></li>
		  <li class="hexagon hex_7"></li>
		</ul>
	  </div>
</div>

<footer>
	<div class="block lg:flex text-white container m-auto">
		<div class="w-full lg:w-1/3">
			<Image class="text-center mx-auto" src="https://storage.googleapis.com/nrm-web/nrm/images/NRM_blanco.png" width="197" height="103" alt="NRM Comunicaciones"/>
			<div class="flex flex-wrap items-center text-xs whitespace-nowrap justify-center mt-3">
				<a class="text-gray-300 hover:text-gray-900" href="/avisodeprivacidad">Aviso de Privacidad</a>
				<a class="ml-3 text-gray-300 hover:text-gray-900" href="/terminosycondiciones">Términos y Condiciones</a>
			</div>
		</div>
		<div class="w-full mt-8 lg:w-1/3 lg:mt-0 text-sm">
			<div class="flex items-center mb-2">
				<i class="bg-[#ffeb3b] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg></i>
				<span class="text-left">Prol. Paseo de la Reforma 115 Paseo de las Lomas Santa Fe Álvaro Obregón, 01330</span>
			</div>
			<div class="flex items-center mb-2">
				<i class="bg-[#ffeb3b] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg></i>
				<span>+52 55 5258 1266</span>
			</div>
			<div class="flex items-center mb-2">
				<i class="bg-[#ffeb3b] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg></i>
				<span>ventas@nrm.com.mx</span>
			</div>
		</div>
		<div class="w-full mt-8 mb-3 lg:w-1/3 lg:mt-0 text-sm text-center">
			<div class="flex justify-around">
				<a class="bg-[#45629f] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.facebook.com/beat1009fm" target="_blank" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
				<a class="bg-black p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://x.com/BEATOFICIAL" target="_blank" aria-label="x"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg></a>
				<a class="bg-gradient-to-r from-[#ff3d3b] to-[#BE2397] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.instagram.com/beat1009fm/" target="_blank" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></a>
				<a class="bg-[#FE2905] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.youtube.com/c/BEAT1009FMOFICIAL" target="_blank" aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" /><path d="M10 9l5 3l-5 3z" /></svg></a>
				<a class="bg-black p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.tiktok.com/@beat1009fm" target="_blank"aria-label="TikTok" ><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" /></svg></a>
				<a class="bg-[#8d44f5] p-1 rounded-full text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.twitch.tv/beat1009fm" target="_blank"aria-label="Twitch" ><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitch" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5v11a1 1 0 0 0 1 1h2v4l4 -4h5.584c.266 0 .52 -.105 .707 -.293l2.415 -2.414c.187 -.188 .293 -.442 .293 -.708v-8.585a1 1 0 0 0 -1 -1h-14a1 1 0 0 0 -1 1z" /><path d="M16 8l0 4" /><path d="M12 8l0 4" /></svg></a>



			</div>
			<div class="mt-5">
				Descarga nuestas aplicaciones
				<div class="flex justify-center">
					<a target="_blank" href="https://apps.apple.com/mx/app/beat-100-9/id444090239" aria-label="Descargar la app para iOS"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/store.png" width="112" height="35" alt="Abre una nueva ventana"/></a>
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.sferea.beat&pli=1" aria-label="Descargar la app para Android"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/google.png" width="112" height="35" alt="Abre un nueva ventana"/></a>
					<a target="_blank" href="/alexa" aria-label="Usa la skill de Alexa"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/alexa.png" width="112" height="35" alt="Abre una nueva ventana"/></a>
				</div>
			</div>


		</div>
	</div>
	<hr class="border-t-[3px]">
	<div class="text-gray-200 text-center text-xs mt-2">
	COPYRIGHT © 2024 Todos los derechos reservados NRM Comunicaciones
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 3em 1em;
		background: linear-gradient(#ababab, #fff) no-repeat;
		background: linear-gradient(0deg, rgba(8,246,44,1) 3%, rgba(247,11,208,1) 30%, rgba(9,230,241,1) 58%, rgba(223,25,245,1) 86%);
		background: linear-gradient(0deg, rgba(8,246,44,1) 3%, rgba(9,230,241,1) 29%, rgba(247,11,208,1) 63%, rgba(223,25,245,1) 86%);
		background: linear-gradient(0deg, rgba(9,230,241,1) 19%, rgba(247,11,208,1) 57%, rgba(223,25,245,1) 86%);
		background: linear-gradient(0deg, rgba(9,230,241,1) 10%, rgba(247,11,208,1) 37%, rgba(223,25,245,1) 64%, rgba(0,0,0,1) 100%);
		background: linear-gradient(0deg, rgba(0,193,203,0.7749474789915967) 10%, rgba(205,37,177,0.7721463585434174) 44%, rgba(141,23,154,1) 64%);
	    background: linear-gradient(0deg, rgb(28 218 228 / 77%) 10%, rgb(226 35 195 / 93%) 44%, rgb(190 25 208) 64%);
		background: linear-gradient(0deg, rgba(0, 193, 203, 0.7749474789915967) 8%, rgba(223, 25, 245, 0.9486169467787114) 47%, rgb(90 52 98) 80%);
		background: linear-gradient(0deg, rgba(9,230,241,1) 0%, rgba(223,25,245,1) 88%);
		background: linear-gradient(0deg, rgba(9,230,241,1) 1%, rgb(24,24,24,1) 100%);
		color: rgb(var(--gray));
		text-align: center;
	}
	i{
		background-color: white;
		color: black;
	}

	.preloader {z-index:9999; }
	.loader {  position: fixed;  top: 50%;  left: 50%;  width: 160px;  height: 160px;  margin: -80px 0px 0px -80px;  background-color: transparent;  border-radius: 50%;  /*border: 2px solid #e3e4dc;	*/}
	.loader:before {  content: "";  width: 164px;  height: 164px;  display: block;  position: absolute;    border-radius: 50%;  top: -2px;  left: -2px;  box-sizing: border-box;  clip: rect(0px, 35px, 35px, 0px);  z-index: 10;  animation: rotate infinite;  animation-duration: 3s;  animation-timing-function: linear; border: 4px solid #f70bd0;	}
	.loader:after {  content: "";  width: 164px;  height: 164px;  display: block;  position: absolute;    border-radius: 50%;  top: -2px;  left: -2px;  box-sizing: border-box;  clip: rect(0px, 164px, 150px, 0px);  z-index: 9;  animation: rotate2 3s linear infinite;	    border: 2px solid #f70bd0; }
	.hexagon-container {  position: relative;  top: 33px;  left: 41px;  border-radius: 50%;	}	
	.hexagon {  position: absolute;  width: 40px;  height: 23px;  background-color: #f70bd0;	    box-shadow: #f70bd0 0px 4px 8px, rgb(247, 11, 208) 0px 1px 5px;}
	.hexagon:before {  content: "";  position: absolute;  top: -11px;  left: 0;  width: 0;  height: 0;  border-left: 20px solid transparent;  border-right: 20px solid transparent;  border-bottom: 11.5px solid #f70bd0;	}
	.hexagon:after {	content: "";  position: absolute;  top: 23px;  left: 0;  width: 0;  height: 0;  border-left: 20px solid transparent;  border-right: 20px solid transparent;  border-top: 11.5px solid #f70bd0;	}
	.hexagon.hex_1 {  top: 0px;  left: 0px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.2142857143s;	}
	.hexagon.hex_2 {  top: 0px;  left: 42px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.4285714286s;	}
	.hexagon.hex_3 {  top: 36px;  left: 63px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.6428571429s;	}
	.hexagon.hex_4 {  top: 72px;  left: 42px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 0.8571428571s;	}
	.hexagon.hex_5 {  top: 72px;  left: 0px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 1.0714285714s;	}
	.hexagon.hex_6 {  top: 36px;  left: -21px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 1.2857142857s;	}
	.hexagon.hex_7 {  top: 36px;  left: 21px;  animation: Animasearch 3s ease-in-out infinite;  animation-delay: 1.5s;	}
	@keyframes Animasearch {  0% {    transform: scale(1);    opacity: 1;  }
  							15%, 50% {    transform: scale(0.5);    opacity: 0;  }
  							65% {    transform: scale(1);    opacity: 1;  }
	}
	@keyframes rotate {  0% {    transform: rotate(0);    clip: rect(0px, 35px, 35px, 0px);  }
  						50% {    clip: rect(0px, 40px, 40px, 0px);  }
					  100% {    transform: rotate(360deg);    clip: rect(0px, 35px, 35px, 0px);  }
	}
	@keyframes rotate2 {  0% {    transform: rotate(0deg);    clip: rect(0px, 164px, 150px, 0px);  }
  						50% {    clip: rect(0px, 164px, 0px, 0px);    transform: rotate(360deg);  }
  						100% {    transform: rotate(720deg);    clip: rect(0px, 164px, 150px, 0px);  }
	}
	@keyframes rotate3 {  0% {    transform: rotate(0deg);  }
						  100% {    transform: rotate(360deg);  }
	}

</style>	
