---
---

<div class="leader my-9 table mx-auto text-center">
	<img src="https://contenido.beatdigital.mx/wp-content/uploads/2024/07/leader.png" alt="leader" width="728" height="90"/>
   <!--div id="ad-slot4">
	<script defer is:inline>
	  var gptAdSlots4 = [];
	  googletag.cmd.push(function() {
 	    var mapping4 = googletag.sizeMapping().
	    addSize([728, 90]).
	    build();
	    var slot4 = googletag.defineSlot("/21799830913/Oye", [728, 90],'ad-slot4').
	    defineSizeMapping(mapping4).
	    addService(googletag.pubads());
	    googletag.pubads().setTargeting("test","responsive");
	    googletag.enableServices();
	    googletag.display('ad-slot4');
	    googletag.pubads().refresh([slot4]);
	    //setInterval(function(){googletag.pubads().refresh([slot4]);}, 180000);
	  });
	</script>
   </div-->

    <!--div>
        <ins class="adsbygoogle" style="display:block; width:728px; height:90px;" data-ad-client="ca-pub-7423640555477330" data-ad-slot="9474866547" data-ad-format="horizontal" data-full-width-responsive="true"></ins>
        <script defer is:inline>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div-->

</div>