---
import Card from '../layouts/CardMoreNews.astro';

const res = await fetch("https://contenido.beatdigital.mx/wp-json/wp/v2/posts?_embed&per_page=5&_fields=title,slug,yoast_head_json,categories&categories=143");
const posts = await res.json();
---
<div class="my-12 mx-auto">
	<h4 class="font-bold">Te podría interesar...</h4>
        <section class="flex flex-wrap -mx-1 lg:-mx-4">
                    {
                        posts.map((post:any) => ( 
                        <>
                        <Card {post} />
                        </>
                        ))
                    }
        </section>
    <div class="text-center">
        <a href="/news/">
            <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-lg bg-zinc-700 text-base shadow">
                <div class="absolute inset-0 w-3 bg-[#09e6f1] transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                <span class="relative text-zinc-200 group-hover:text-zinc-900">Más</span>
            </button>
        </a>
    </div>
</div>
