<div id="radiobutton" class="text-white border-1 p-1 rounded-md top-[25px]  right-[70px] md:right-[40px] md:top-20 cursor-pointer absolute w-[170px] md:fixed flex items-center" transition:persist> 
        <!--div>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-broadcast" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#343443" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18.364 19.364a9 9 0 1 0 -12.728 0" />
            <path d="M15.536 16.536a5 5 0 1 0 -7.072 0" />
            <path d="M12 13m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
          </svg>
        </div>
        <div class="text-center leading-normal">Streaming en vivo</div-->
        <img src="https://storage.googleapis.com/nrm-web/beat/resources/img/live-on-air.png" width="300" height="120" alt="En vivo" />
        
        
</div>
<div id="player" class="w-[100%] lg:w-10/12 m-auto fixed bottom-0 left-0 right-0 border-black  rounded-t-lg bg-white z-100 border-b-0 h-0" transition:persist data-status="init">
    <div id="td_container" class="w-1 h-1 absolute bottom-16 right-0"></div>
    <div id="player-inner" class="flex h-16 items-center hide transition:persist">        
        <div class="w-3/4 lg:w-2/4 flex">
            <div class="label-ahora">Ahora escuchas: </div>
			<div class=" marquee"><div id="infoMusic" transition:persist></div></div>	            
        </div>
        <div class="w-1/4 flex justify-center md:justify-start" id="buttons"> 
            <div id="loading" class="animate-spin max-w-[44px] min-w-[44px] hide">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-loader-3" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 12a9 9 0 0 0 9 9a9 9 0 0 0 9 -9a9 9 0 0 0 -9 -9" />
                    <path d="M17 12a5 5 0 1 0 -5 5" />
                  </svg>
            </div>
            <div id="play-pause" class="max-w-[44px] min-w-[44px] show cursor-pointer" transition:persist>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play-filled" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" stroke-width="0" fill="currentColor" />
                  </svg>
            </div>            
        </div>
        <div class="hidden md:block w-1/4 vol flex justify-center" transition:persist>
            <input type="range" min="0.1" max="1" step="0.1" value="1" id="vol"> 
        </div>
        
    </div>

    <div id="player-v-podcast" class="hide flex h-16 justify-center items-center" transition:persist>
        <div class="flex w-1/3 justify-center" transition:persist> <span id="return-live" class="bg-[#09e6f1] text-white border-1 rounded-md cursor-pointer p-1 text-sm md:text-base">Regresar a en vivo</span></div>            
            <div class="flex w-2/3 justify-center" id="iframepodcast" transition:persist> 
                
            </div>
    </div>
    
    <div id="player-v-video" class="hide flex h-16 items-center" transition:persist> 

    </div>
</div>

<script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/jquery.js"></script>
<script is:inline src="//sdk.listenlive.co/web/2.9/td-sdk.min.js"></script>
<script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/player-0.1.0.min.js"></script>
<script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/dayjs.min.js"></script>
<!--script is:inline src="https://youtube.com/iframe_api"></script-->
<script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/flickity.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/nrm-web/nrm/lib/flickity.css">
<script  src="/src/js/streaming.js"></script>

