---
import { Image } from "astro:assets"
---
<div class="super-leader py-9 table mx-auto text-center">
  <img src="https://stereociendigital.mx/wp-content/uploads/2024/07/super-leader.jpg" alt="super leader" width="970" height="66" />
  <!--div id="ad-slot6">
	<script defer is:inline>
	  var gptAdSlots6 = [];
	  googletag.cmd.push(function() {
 	    var mapping6 = googletag.sizeMapping().
	    addSize([970, 90]).
	    build();
	    var slot6 = googletag.defineSlot("/21799830913/Oye", [970, 90],'ad-slot6').
	    defineSizeMapping(mapping6).
	    addService(googletag.pubads());
	    googletag.pubads().setTargeting("test","responsive");
	    googletag.enableServices();
	    googletag.display('ad-slot6');
	    googletag.pubads().refresh([slot6]);
	    //setInterval(function(){googletag.pubads().refresh([slot6]);}, 180000);
	  });
	</script>
  </div-->
  <!--div>
    <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px;" data-ad-client="ca-pub-7423640555477330" data-ad-slot="2069668179" data-ad-format="horizontal" data-full-width-responsive="true"></ins>
    <script defer is:inline>
	    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div--> 
</div>