---
import { Image } from 'astro:assets';
---
<div class="main-carousel container cards promos ">
	<div class="carousel-cell card"><article><div class="glows"></div><a href="/podcast/groove-dealers"><Image class="block h-auto w-full object-fill" src="https://contenido.beatdigital.mx/wp-content/uploads/2024/06/GROOVE-DEALERS-PODCAST-min.png" width="200" height="200" alt="La alternativa"/></a></article></div>
	<div class="carousel-cell card"><article><div class="glows"></div><a href="/podcast/respira"><Image class="block h-auto w-full object-fill" src="https://contenido.beatdigital.mx/wp-content/uploads/2023/12/poscast-repira2.jpg" width="200" height="200" alt="Detrás de la radio"/></a></article></div>
	<div class="carousel-cell card"><article><div class="glows"></div><a href="/podcast/expedientes-secretos"><Image class="block h-auto w-full object-fill" src="https://contenido.beatdigital.mx/wp-content/uploads/2023/10/EX_secretos5.jpg" width="200" height="200" alt="Pop trends"/></a></article></div>
	<div class="carousel-cell card"><article><div class="glows"></div><a href="/podcast/nerdosis"><Image class="block h-auto w-full object-fill" src="https://contenido.beatdigital.mx/wp-content/uploads/2023/06/NERD_podcast3psd.jpg" width="200" height="200" alt="Top tech"/></a></article></div>
	<div class="carousel-cell card"><article><div class="glows"></div><a href="/podcast/dos-equis-mixx"><Image class="block h-auto w-full object-fill" src="https://contenido.beatdigital.mx/wp-content/uploads/2022/09/portada-xx.jpg" width="200" height="200" alt="Top gaming"/></a></article></div>
	<div class="carousel-cell card"><article><div class="glows"></div><a href="/podcast/beat-trends"><Image class="block h-auto w-full object-fill" src="https://contenido.beatdigital.mx/wp-content/uploads/2022/08/podcast.jpg" width="200" height="200" alt="Tu fandom"/></a></article></div>
</div>

<style>
.container.cards{
	max-width: 100% !important;
}

.carousel-cell {
  width: 286px;
  height: 330px;
  margin-right: 40px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.carousel-cell img{
	border-radius: var(--border-radius);
	box-shadow: 0 2px 12px 7px rgba(0,0,0,0.4);
}

.carousel-cell.is-selected {
  /*background: #ED2;*/
}
</style>